:root {
    /*Colors*/
    /*Primary*/
    --primary-color-aqua: #04D9C4;
    --primary-color-orange: #F25C05;
    --primary-color-violet: #6321A6;

    /*Text*/
    --title-accent-blue: #3D94AF;
    --title-accent-orange: #F68D2B;
    --subtitle: #3E5270;
    --paragraph: #4C5A71;
    --inactive-text: #8994A5;
    --button-text: #EEF2F8;

    /*NavBar*/
    --nav-bg: #FF891C;
    --nav-actual-section: #F97226;
    --nav-text: #FFFFFF;

    /*Status*/
    --status-color-error: #EB3232;
    --status-color-alert: #FDA624;
    --status-color-success: #2DC071;

    /*Others*/
    --color-white: #F2F2F2;
    --color-gray: #E5E5E5;
    --color-text: #454545;
}

/* Typography */
.headline1-desktop {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 110%;
}

.headline2-desktop {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
}

.headline3-desktop {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
}

.headline4-desktop {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}

.headline5-desktop {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
}

.headline1-mobile {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}

.headline2-mobile {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
}

.headline3-mobile {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
}

.headline4-mobile {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
}

.headline5-mobile {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
}