.button-large {
    width: 327px;
    height: 42px;
    border-radius: 48px;
}

.btn-active {
    border: none;
    background: var(--color-blue1);
    color: var(--color-base-white);
    box-shadow: 0px 4px 10px rgba(0, 177, 187, 0.3);
}

.btn-pressed {
    border: none;
    background: var(--color-blue3);
    color: var(--color-blue1);
    box-shadow: 0px 4px 10px rgba(0, 177, 187, 0.3);
}

.btn-inactive {
    border: none;
    background: #E3E5E6;
    color: #979C9E;
    box-shadow: 0px 4px 10px #E3E5E5;
}

.btn-outline {
    border: 1px solid var(--color-blue1);
    background-color: transparent;
    color: var(--color-blue1);
    filter: drop-shadow(0px 4px 10px rgba(0, 177, 187, 0.3));
}

.btn-outline-inactive{
    border: 1px solid #CDCFD0;
    background-color: transparent;
    color: #CDCFD0;
    filter: drop-shadow(0px 4px 10px rgba(0, 177, 187, 0.3));
}

.btn-transparent-active{
    border: none;
    background-color: transparent;
    color: var(--color-blue1);
    box-shadow: none;
}

.btn-transparent-inactive{
    border: none;
    background-color: transparent;
    color: #CDCFD0;
    box-shadow: none;
}