/*Hero section microcredito*/

section.hero {
    padding: 80px 0;
}

section.hero .text {
    padding: 14px 100px;
    padding-right: 0px;
}

.buttons {
    padding-top: 30px;
    padding-left: 100px;
}

/*Menu flotante*/
#menu-flotante li {
    padding-top: 25px;
}

/* Footer */
.footerW {
    padding-top: 20px;
    background-color: var(--color-dark-violet1);
}

/* Tamaño de iconos */

.tamaño_icono {
    width: 30px;
    height: 30px;
}