:root {
    /*Colors*/
    /*Various*/
    --color-base-white: #F2F2F2;
    --color-accent-white: #F8F8F8;
    --color-base-gray: #27262C;
    --color-error: #EB3232;
    --color-warning: #FDA624;
    --color-success: #2DC071;
    --color-accent-black: #000000;
    --fill-success: rgba(45, 192, 113, 0.2);
    --fill-error: rgba(235, 50, 50, 0.2);
    --fill-generic: rgba(0, 177, 187, 0.2);
    --fill-input: #F2F4F5;


    /*Blue*/
    --color-blue1: #00B1BB;
    --color-blue2: #2FD9DE;
    --color-blue3: #BDF0F2;

    /*Dark Violet*/
    --color-dark-violet1: #2D3982;
    --color-dark-violet2: #535C97;
    --color-dark-violet3: #8A90B5;
    --color-dark-violet4: #C3C5D4;

    /*Violet*/
    --color-violet1: #6321A6;
    --color-violet2: #8E50B7;
    --color-violet3: #BA93D2;
    --color-violet4: #E4D4ED;

    /*Orange*/
    --color-orange1: #F25C05;
    --color-orange2: #FF8826;
    --color-orange3: #FFB67D;

    /*Yellow*/
    --color-yellow1: #e3ff0b;
}

/* Typography */
.headline1-desktop {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 110%;
}

.headline2-desktop {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
}


.headline3-desktop {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
}

.headline4-desktop {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}

.headline5-desktop {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
}

.headline1-mobile {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}

.headline2-mobile {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
}

.headline3-mobile {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
}

.headline4-mobile {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
}

.headline5-mobile {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
}

.body1-desktop {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
}

.body2-desktop {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
}

.body3-desktop {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
}

.body1-mobile {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}

.body2-mobile {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
}

.body3-mobile {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
}

.text-button-link-bold {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}

.text-button-link-normal {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.text-button-link-medium {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.text-button-link-small {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.fields-text_placeholder {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.fields-text_title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.fields-text_description {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}


/* Logo */
.logo {
    width: 122px;
    height: 44.46px;
}

.logo1 {
    width: 144px;
    height: 52.47px;
}

header {
    width: 100%;
    height: 500px;
    background-color: var(--fill-exit);
}

/* Buttons */
.button-large-mobile {
    width: 327px;
    height: 42px;
    border-radius: 48px;
}

.button-large-desktop {
    width: 423px;
    height: 42px;
    border-radius: 48px;
}

.button-medium {
    width: 240px;
    height: 42px;
    border-radius: 48px;
}

.button-small {
    width: 154px;
    height: 42px;
    border-radius: 48px;
}

.placeholder-input-desktop {
    width: 459px;
    height: 44px;
    gap: 47px;
    border-radius: 48px 0px 0px 48px;
}

.placeholder-input-mobile {
    width: 267px;
    height: 44px;
    gap: 47px;
    border-radius: 48px 0px 0px 48px;
    background-color: #EEEEEE;
}


.button-toggler {
    width: 45.22px;
    height: 45.22px;
    background-color: var(--color-orange2);
    border-radius: 62px;
}

.distance-icon {
    padding-right: 11px
}

/* Buttons States*/

.btn-active {
    border: none;
    background: var(--color-blue1);
    color: var(--color-base-white);
    box-shadow: 0px 4px 10px rgba(0, 177, 187, 0.3);
}

.btn-pressed {
    border: none;
    background: var(--color-blue3);
    color: var(--color-blue1);
    box-shadow: 0px 4px 10px rgba(0, 177, 187, 0.3);
}

.btn-inactive {
    border: none;
    background: #E3E5E6;
    color: #979C9E;
    box-shadow: 0px 4px 10px #E3E5E5;
}

.btn-outline {
    border: 1px solid var(--color-blue1);
    background-color: transparent;
    color: var(--color-blue1);
    filter: drop-shadow(0px 4px 10px rgba(0, 177, 187, 0.3));
}

.btn-outline-inactive {
    border: 1px solid #CDCFD0;
    background-color: transparent;
    color: #CDCFD0;
    filter: drop-shadow(0px 4px 10px rgba(0, 177, 187, 0.3));
}

.btn-transparent-active {
    border: none;
    background-color: transparent;
    color: var(--color-blue1);
    box-shadow: none;
}

.btn-transparent-inactive {
    border: none;
    background-color: transparent;
    color: #CDCFD0;
    box-shadow: none;
}

p {

    font: var(--text-desktop-label);
    font: var(--text-mobile-body-inputs);

    color: var(--primary-color-violet);
}

/*RESET*/



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}


/*  estilos breadcrumb creados por cris G*/
.w-tag{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    border-radius: 32px;
    padding: 8px 16px;
}

.family-tag{
    background-color: #FFE2CC;
    color: #F25C05;
}

.business-tag{
    background-color: #BDF0F2;
    color: #00B1BB;
}

.grow-tag{
    background-color: #E4D4ED;
    color: #6321A6;
}

.check-container{
    display: flex ;
    align-items: center;
}
.check-button{
    background-color:#DCDCDC;
    width: 25px;
    height: 25px;
    margin-right: 13px;
}
.check-button:checked {
    background-color: #00B1BB;
    border-color: transparent;
}

.check-label{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

}

.slide-label{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;

}

.breadcrumb-item{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #6321A6;
}
.breadcrumb-item a{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #6321A6;
}

.title-container{
    background-color: #f8f8f8;
    padding: 14px 0px;
}

/*Hero section microcredito*/

section.hero{
    padding: 80px 0;
}

section.hero .text{
    padding: 14px 100px;
    padding-right: 0px;
}

.buttons{
    padding-top: 30px;
    padding-left: 100px;
}

/*Menu flotante*/
#menu-flotante li{
    padding-top: 25px;
}


/* Navegación */
.first-nav {
    background-color: white;
}

.second-nav {
    background-color: var(--color-accent-white);
}

.form-control {

    margin-right: 0 !important;

}



/*
.button-nav{
    display: flex;
    font: var(--text-desktop-label);
    background-color: var(--primary-color-violet);
    color: var(--color-white);
    border-radius: 100px;
    margin-right: 20px;
    
}*/
.button-nav:hover,
.button-nav:focus {
    display: flex;
    background-color: var(--color-white);
    color: var(--primary-color-violet);
    border-color: var(--primary-color-violet);

}

.navbar-light .navbar-nav .nav-link {
    color: var(--color-base-white);
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--color-base-gray);
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--color-orange1);
}

.search-button {
    width: 60px;
    height: 44px;
    background-color: var(--color-blue1);
    color: var(--color-base-white);
    border-radius: 0px 20px 20px 0px;
    margin: 0 !important;

}

.search-button:hover,
.search-button:focus {

    background-color: var(--color-white);
    color: var(--primary-color-violet);
    border-color: var(--primary-color-violet);
}

.credito {
    color: var(--color-blue1);
    padding-top: 5px;
    height: 75px;
    background-color: gainsboro;
}

.credito h2 {
    color: var(--primary-color-orange);
    padding-top: 5px;
    height: 75px;
    background-color: gainsboro;
    padding-left: 10px;
}

.breadcrumb {
    margin-bottom: 5px;
    padding-left: 10px;
}

.card-text {
    font: var(--text-mobile-body3);
    font-size: var(--text-mobile-body3);
    color: var(--paragraph);
}

.button-credito {
    border-radius: 100px;
    color: var(--color-white);
    background-color: var(--primary-color-violet);
}

.card {
    padding-top: 0px;
    border-radius: 20px;
}

.card-img-top {
    position: relative;
    bottom: 20px;
    border-radius: 20px 20px 0px 0px;
}

.buscador {
    display: flex;
    justify-content: center;
}

@media (max-width:600px) {
    .navbar-light {
        display: none;
    }
}

@media (max-width:600px) {
    .navbar-light {
        display: none;
    }
}

.navbar .navbar-nav .nav-link {
    border-bottom: #000000;
}

@media only screen and (max-width: 992px) {
    .border-bottom-gg {
        padding: 0 9px;
    }

    .border-bottom-gg {
        border-bottom: 2px solid #DDDDDD;
    }
}
/* Footer */
.footerW{
    padding-top: 20px;
    background-color: var(--color-dark-violet1);
}

/*------------------------------------------------------------------------
Responsive section
--------------------------------------------------------------------------*/
@media(max-width:576px){
    
    .headline1-desktop{
        font-size: 32px;
        
        
    }
    .button-large-desktop{
        width: 327px;
        height: 42px;
        align-items: center;
    }
    * {
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
    }

    .card {
        margin: 20px auto auto auto;

        width: 80%;
        height: auto;
        background-color: #fff;

        border-radius: 20px;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);

        display: flex;
        flex-direction: column;
        align-items: flex-start;


        overflow: hidden;
    }

    .orangeTyped {
        color: #F25C05;
    }

    .card>a {
        color: #252B42;
        width: 75%;
        height: 100%;
        padding: 35px 40px 15px;
    }

    .medium-active {
        margin: 14px 0px;
        width: 90%;
        height: 42px;
        border-radius: 48px;
        font-weight: 600;
    }

    .card_tittle {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 120%;
        margin: 15px 0px;
    }

    .text_in_card {

        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 28px;

    }

    .img_in_card {
        width: 210%;
        height: auto;
        margin: -35px -40px auto -40px;
    }

    .tags_section {
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

    }

    .tags_section p {
        margin: -1px 0px;
    }

    .likes_card {
        display: flex;
        gap: 5px;
    }

    .comments_card {
        display: flex;
        gap: 5px;
    }

    .at_left {
        display: flex;
        gap: 25px;
    }

    .at_right {
        display: flex;
        gap: 25px;
    }

    .options_list {
        display: flex;
        justify-content: space-between;
    }

    .num_likes {
        color: #EB3232;
        font-size: 16px;
    }

    .num_comments {
        color: #707070;
        font-size: 16px;

    }

    .tittle-in-form {

        position: relative;

        width: auto;
        height: auto;
        background-color: #ff8826;

        padding: 35px 45px 30px;
    }

    .card_tittle_form {

        width: auto;
        margin: 0%;

        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 33px;
        text-align: center;

        color: #FCFEFF;
    }

    .card>form {

        padding: 0px 20px 15px;

    }

    .text_aclaracion_campos {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }


    .large-active {
        margin: 14px 0px;
        width: 100%;
        height: 42px;
        border-radius: 48px;
        font-weight: 600;
    }

    .campo_in_form .nombre_del_campo {
        
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;

        color: #27262C;

    }

    .card-shortTyped {
        margin: 20px auto auto auto;

        width: 80%;
        height: auto;
        background-color: #fff;

        border-radius: 20px;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);

        display: flex;
        flex-direction: column;
        align-items: flex-start;


        overflow: hidden;
    }


    .card-shortTyped >a {
        color: #252B42;
        width: 75%;
        height: 100%;
        padding: 40px;
        display: flex;
        align-content: center;
        gap: 25px;
    }

    .toChange {
        width: 14px;
        height: 26px;
        background-color: #27262C;
        margin: auto;
    }
    

}

/* Tamaño de iconos */

.tamaño_icono{
    width: 30px;
    height: 30px;
}