/* Tipografia importada del css de Andrea*/
.headline1-mobile {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;

    /*le agrego color*/
    color: #F25C05;
}

/* Estos son mis estilos*/
.w-tag {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 20px !important;
    border-radius: 32px !important;
    padding: 8px 16px !important;
}

.family-tag {
    background-color: #FFE2CC;
    color: #F25C05 !important;
}

.business-tag {
    background-color: #BDF0F2;
    color: #00B1BB !important;
}

.grow-tag {
    background-color: #E4D4ED;
    color: #6321A6 !important;
}

.check-container {
    display: flex;
    align-items: center;
}

.check-button {
    background-color: #DCDCDC;
    width: 25px;
    height: 25px;
    margin-right: 13px;
}

.check-button:checked {
    background-color: #00B1BB;
    border-color: transparent;
}

.check-label {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

}

.slide-label {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;

}

.breadcrumb-item {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #6321A6;
}

.breadcrumb-item a {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #6321A6;
    text-decoration: none;
}

.title-container {
    background-color: #f8f8f8;
    padding: 14px 175px;
}

@media only screen and (max-width: 768px) {

    .title-container {
        background-color: #f8f8f8;
        padding: 20px;
    }
}

.active {
    color: var(--color-violet1) !important;
    font-weight: bold;
}